# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.local
coverage

.env
# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
yarn.lock
bun.lockb
/src/assets/resources-all.1x.ts
/src/assets/resources-all.2x.ts
/src/assets/resources-all-mobile.1x.ts
/src/assets/resources-all-mobile.2x.ts
/src/assets/resources-other.1x.ts
/src/assets/resources-other.2x.ts
/src/assets/resources-other-mobile.1x.ts
/src/assets/resources-other-mobile.2x.ts
/src/assets/resources-priority.1x.ts
/src/assets/resources-priority.2x.ts
/src/assets/resources-priority-mobile.1x.ts
/src/assets/resources-priority-mobile.2x.ts
src/tmp.json
bookmarks.md